@page
@model NewBlogModel
@{
    ViewData["Title"] = "Details";
}

    <div class="p-detail-4">
        <div class="container">
            <div class="ht-page">
                <div class="ht-page__sidebar">
                    <div class="s-sidebar-4">
                        <ul>
                            
                                <li class="is-active">
                                    <a href="/son-dulux-8-11.html"><h2>Sơn Dulux</h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <ul><li>
                                        <a href="/son-noi-that-dulux-9-11.html"><h2>Sơn Nội Thất Dulux</h2></a>
                                    </li><li>
                                        <a href="/son-ngoai-that-dulux-18-11.html"><h2>Sơn ngoại thất Dulux</h2></a>
                                    </li><li>
                                        <a href="/son-chong-tham-dulux-19-11.html"><h2>Sơn chống thấm Dulux</h2></a>
                                    </li><li>
                                        <a href="/son-lot-dulux-20-11.html"><h2>Sơn lót Dulux </h2></a>
                                    </li><li>
                                        <a href="/bot-tret-tuong-dulux-21-11.html"><h2>Bột trét tường Dulux</h2></a>
                                    </li><li>
                                        <a href="/son-du-an-dulux-23-11.html"><h2>Sơn dự án Dulux</h2></a>
                                    </li></ul>
                                </li>
                            
                                <li class="">
                                    <a href="/son-jotun-24-11.html"><h2>Sơn Jotun</h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <ul><li>
                                        <a href="/son-noi-that-jotun-25-11.html"><h2>Sơn nội thất Jotun</h2></a>
                                    </li><li>
                                        <a href="/son-ngoai-that-jotun-26-11.html"><h2>Sơn ngoại thất Jotun</h2></a>
                                    </li><li>
                                        <a href="/son-chong-ri-jotun-27-11.html"><h2>Sơn chống rỉ Jotun</h2></a>
                                    </li><li>
                                        <a href="/son-lot-jotun-28-11.html"><h2>Sơn lót Jotun</h2></a>
                                    </li><li>
                                        <a href="/son-chiu-nhiet-jotun-29-11.html"><h2>Sơn chịu nhiệt Jotun</h2></a>
                                    </li><li>
                                        <a href="/son-go-jotun-30-11.html"><h2>Sơn gỗ Jotun</h2></a>
                                    </li><li>
                                        <a href="/son-chong-ha-jotun-31-11.html"><h2>Sơn chống hà Jotun</h2></a>
                                    </li><li>
                                        <a href="/dung-moi-jotun-32-11.html"><h2>Dung môi Jotun</h2></a>
                                    </li><li>
                                        <a href="/bot-tret-tuong-jotun-34-11.html"><h2>Bột trét tường Jotun</h2></a>
                                    </li><li>
                                        <a href="/son-cong-nghiep-jotun-70-11.html"><h2>Sơn công nghiệp Jotun</h2></a>
                                    </li></ul>
                                </li>
                            
                                <li class="">
                                    <a href="/son-maxilite-35-11.html"><h2>Sơn Maxilite </h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <ul><li>
                                        <a href="/son-noi-that-maxilite-37-11.html"><h2>Sơn nội thất Maxilite </h2></a>
                                    </li><li>
                                        <a href="/son-ngoai-that-maxilite-38-11.html"><h2>Sơn ngoại thất Maxilite </h2></a>
                                    </li><li>
                                        <a href="/son-lot-maxilite-71-11.html"><h2>Sơn lót Maxilite</h2></a>
                                    </li><li>
                                        <a href="/bot-tret-tuong-maxilite-72-11.html"><h2>Bột trét tường Maxilite</h2></a>
                                    </li></ul>
                                </li>
                            
                                <li class="">
                                    <a href="/son-expo-49-11.html"><h2>Sơn Expo</h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <ul><li>
                                        <a href="/son-noi-that-expo-50-11.html"><h2>Sơn nội thất Expo</h2></a>
                                    </li><li>
                                        <a href="/son-ngoai-that-expo-51-11.html"><h2>Sơn ngoại thất Expo</h2></a>
                                    </li><li>
                                        <a href="/son-chong-ri-expo-52-11.html"><h2>Sơn chống rỉ Expo</h2></a>
                                    </li><li>
                                        <a href="/son-lot-expo-53-11.html"><h2>Sơn lót Expo</h2></a>
                                    </li><li>
                                        <a href="/son-dau-expo-54-11.html"><h2>Sơn dầu Expo</h2></a>
                                    </li><li>
                                        <a href="/bot-tret-tuong-expo-55-11.html"><h2>Bột trét tường Expo</h2></a>
                                    </li></ul>
                                </li>
                            
                                <li class="">
                                    <a href="/son-nippon-3-11.html"><h2>Sơn Nippon</h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <ul><li>
                                        <a href="/son-noi-that-nippon-6-11.html"><h2>Sơn nội thất Nippon</h2></a>
                                    </li><li>
                                        <a href="/son-ngoai-that-nippon-7-11.html"><h2>Sơn ngoại thất Nippon</h2></a>
                                    </li><li>
                                        <a href="/son-chong-tham-nippon-13-11.html"><h2>Sơn chống thấm Nippon</h2></a>
                                    </li><li>
                                        <a href="/son-chiu-nhiet-nippon-14-11.html"><h2>Sơn chịu nhiệt Nippon</h2></a>
                                    </li><li>
                                        <a href="/son-lot-nippon-15-11.html"><h2>Sơn lót Nippon</h2></a>
                                    </li><li>
                                        <a href="/son-dau-nippon-16-11.html"><h2>Sơn dầu Nippon</h2></a>
                                    </li><li>
                                        <a href="/bot-tret-tuong-nippon-17-11.html"><h2>Bột trét tường Nippon</h2></a>
                                    </li><li>
                                        <a href="/son-cong-nghiep-nippon-73-11.html"><h2>Sơn công nghiệp Nippon</h2></a>
                                    </li></ul>
                                </li>
                            
                                <li class="">
                                    <a href="/son-mykolor-2-11.html"><h2>Sơn Mykolor</h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <ul><li>
                                        <a href="/son-noi-that-mykolor-4-11.html"><h2>Sơn nội thất Mykolor</h2></a>
                                    </li><li>
                                        <a href="/son-ngoai-that-mykolor-5-11.html"><h2>Sơn ngoại thất Mykolor </h2></a>
                                    </li><li>
                                        <a href="/son-chong-tham-mykolor-10-11.html"><h2>Sơn chống thấm Mykolor</h2></a>
                                    </li><li>
                                        <a href="/son-lot-mykolor-11-11.html"><h2>Sơn lót Mykolor</h2></a>
                                    </li><li>
                                        <a href="/bot-tret-tuong-mykolor-12-11.html"><h2>Bột trét tường Mykolor</h2></a>
                                    </li></ul>
                                </li>
                            
                                <li class="">
                                    <a href="/son-kova-39-11.html"><h2>Sơn Kova</h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <ul><li>
                                        <a href="/son-noi-that-kova-40-11.html"><h2>Sơn nội thất Kova</h2></a>
                                    </li><li>
                                        <a href="/son-ngoai-that-kova-41-11.html"><h2>Sơn ngoại thất Kova</h2></a>
                                    </li><li>
                                        <a href="/son-chong-tham-kova-42-11.html"><h2>Sơn chống thấm Kova</h2></a>
                                    </li><li>
                                        <a href="/son-chong-nong-kova-43-11.html"><h2>Sơn chống nóng Kova</h2></a>
                                    </li><li>
                                        <a href="/son-chong-ri-kova-44-11.html"><h2>Sơn chống rỉ Kova</h2></a>
                                    </li><li>
                                        <a href="/bot-tret-tuong-kova-45-11.html"><h2>Bột trét tường Kova</h2></a>
                                    </li><li>
                                        <a href="/son-lot-kova-46-11.html"><h2>Sơn lót Kova</h2></a>
                                    </li><li>
                                        <a href="/son-dau-kova-47-11.html"><h2>Sơn dầu Kova</h2></a>
                                    </li><li>
                                        <a href="/son-gia-da-kova-48-11.html"><h2>Sơn giả đá Kova</h2></a>
                                    </li></ul>
                                </li>
                            
                                <li class="">
                                    <a href="/son-bach-tuyet-69-11.html"><h2>Sơn Bạch Tuyết</h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        
                                </li>
                            
                                <li class="">
                                    <a href="/son-toa-56-11.html"><h2>Sơn Toa</h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <ul><li>
                                        <a href="/son-noi-that-toa-57-11.html"><h2>Sơn nội thất Toa</h2></a>
                                    </li><li>
                                        <a href="/son-lot-toa-60-11.html"><h2>Sơn lót Toa</h2></a>
                                    </li><li>
                                        <a href="/son-ngoai-that-toa-61-11.html"><h2>Sơn ngoại thất Toa</h2></a>
                                    </li><li>
                                        <a href="/son-chong-ri-toa-62-11.html"><h2>Sơn chống rỉ Toa</h2></a>
                                    </li><li>
                                        <a href="/son-dau-toa-63-11.html"><h2>Sơn dầu Toa</h2></a>
                                    </li><li>
                                        <a href="/bot-tret-tuong-toa-64-11.html"><h2>Bột trét tường Toa</h2></a>
                                    </li><li>
                                        <a href="/son-chong-tham-toa-74-11.html"><h2>Sơn chống thấm Toa</h2></a>
                                    </li></ul>
                                </li>
                            
                                <li class="">
                                    <a href="/son-international-75-11.html"><h2>Sơn International </h2>
                                        </a>
                                        <span class="after"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        
                                </li>
                                </ul>
                    </div>
                    <div class="s-sidebar-4 s_filter">
                        <div class="s_heading">Phân loại</div>
                        <ul>
                                        <li class=""><a href="/son-noi-that-s1-1-11.html"><h2>Sơn nội thất</h2></a></li>
                                        <li class=""><a href="/son-ngoai-that-s2-1-11.html"><h2>Sơn ngoại thất</h2></a></li>
                                        <li class=""><a href="/son-lot-chong-kiem-s5-1-11.html"><h2>Sơn lót chống kiềm</h2></a></li>
                                        <li class=""><a href="/son-dau-s7-1-11.html"><h2>Sơn dầu</h2></a></li>
                                        <li class=""><a href="/son-phan-quang-s8-1-11.html"><h2>Sơn phản quang</h2></a></li>
                                        <li class=""><a href="/son-chong-ri-s9-1-11.html"><h2>Sơn chống rỉ</h2></a></li>
                                        <li class=""><a href="/son-trang-tri-s12-1-11.html"><h2>Sơn trang trí</h2></a></li>
                                        <li class=""><a href="/son-chong-tham-s3-1-11.html"><h2>Sơn chống thấm</h2></a></li>
                                        <li class=""><a href="/bot-tret-tuong-s4-1-11.html"><h2>Bột trét tường</h2></a></li>
                                        <li class=""><a href="/son-chiu-nhiet-s6-1-11.html"><h2>Sơn chịu nhiệt</h2></a></li>
                                        <li class=""><a href="/son-ke-duong-s11-1-11.html"><h2>Sơn kẻ đường</h2></a></li>
                                        <li class=""><a href="/son-chong-ha-s14-1-11.html"><h2>Sơn chống hà</h2></a></li>
                                        <li class=""><a href="/son-go-s13-1-11.html"><h2>Sơn gỗ</h2></a></li>
                                        <li class=""><a href="/son-lot-s10-1-11.html"><h2>Sơn lót</h2></a></li>
                                        <li class=""><a href="/son-hoa-van-s15-1-11.html"><h2>Sơn hoa văn</h2></a></li>
                                        <li class=""><a href="/son-tau-bien-s16-1-11.html"><h2>Sơn tàu biển</h2></a></li>
                                        <li class=""><a href="/son-gia-da-s17-1-11.html"><h2>Sơn giả đá</h2></a></li>
                                        <li class=""><a href="/son-cong-nghiep-s18-1-11.html"><h2>Sơn công nghiệp</h2></a></li>
                                        <li class=""><a href="/son-chong-chay-s19-1-11.html"><h2>Sơn chống cháy</h2></a></li>
                                        <li class=""><a href="/son-chong-nong-s20-1-11.html"><h2>Sơn chống nóng</h2></a></li>
                                        <li class=""><a href="/son-cach-dien-s21-1-11.html"><h2>Sơn cách điện</h2></a></li>
                                        <li class=""><a href="/son-o-to--xe-may-s22-1-11.html"><h2>Sơn ô tô, xe máy</h2></a></li>
                                        <li class=""><a href="/son-be-tong-s23-1-11.html"><h2>Sơn bê tông</h2></a></li>
                                </ul>
                    </div>
                    <div class="s-sidebar-5">
                        <div class="s_heading">Chăm sóc khách hàng</div>
                        <div class="s_list">
                                        <div class="client">
                                    <h3 class="name">Nguyễn Thị Hiền</h3>
                                    <a href="tel:0931778862" class="phone"><i class="fa fa-mobile" aria-hidden="true"></i><span>0931778862</span></a>
                                    <a href="mailto:baogiasonbaymau@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>baogiasonbaymau@gmail.com</span></a>
                                </div>
                                </div>
                    </div>
                    <div class="s-sidebar-3">
                        <div class="s_heading">Bài viết nổi bật</div>
                        <div class="s_list">
                                        <a href="/cach-phan-biet-son-san-epoxy-he-co-lan-va-tu-lan-31-25.html">
                                    <div class="thumb ht-ratio--75"><img src="/uploads/images/2020/01/1578492998-single_news4-cachphansonepoxyhecolanvatulan.jpg" alt="Cách phân biệt sơn sàn epoxy hệ cọ lăn và tự lăn" class="ht-ratio__img"></div>
                                    <h4 class="title">Cách phân biệt sơn sàn epoxy hệ cọ lăn và tự lăn</h4>
                                </a>
                                        <a href="/ly-do-ban-khong-nen-bo-qua-son-chiu-nhiet-jotun-28-25.html">
                                    <div class="thumb ht-ratio--75"><img src="/uploads/images/2019/12/1577412708-single_news4-new5.jpg" alt="Lý do bạn không nên bỏ qua sơn chịu nhiệt Jotun?" class="ht-ratio__img"></div>
                                    <h4 class="title">Lý do bạn không nên bỏ qua sơn chịu nhiệt Jotun?</h4>
                                </a>
                                        <a href="/hoc-cach-phan-biet-son-jotun-that-gia-mot-cach-chinh-xac-nhat-26-25.html">
                                    <div class="thumb ht-ratio--75"><img src="/uploads/images/2020/05/1588685980-single_news4-sonnoithatjotunmajesticdephoanhaobong.jpg" alt="Học cách phân biệt sơn jotun thật giả một cách chính xác nhất" class="ht-ratio__img"></div>
                                    <h4 class="title">Học cách phân biệt sơn jotun thật giả một cách chính xác nhất</h4>
                                </a>
                                        <a href="/so-sanh-son-jotun-va-joton-25-25.html">
                                    <div class="thumb ht-ratio--75"><img src="/uploads/images/2020/05/1588687449-single_news4-sonjoton.jpg" alt="So sánh sơn Jotun và Joton" class="ht-ratio__img"></div>
                                    <h4 class="title">So sánh sơn Jotun và Joton</h4>
                                </a>
                                </div>
                    </div></div>
                    <div class="ht-page__main">
                        <h1 class="p_title">Đại lý sơn Jotun tại Thành Phố Hồ Chí Minh</h1>
                        <ul class="p_source align-items">
                            <li>
                                                    </li>
                            <li>
                                <a class="c-icon-border--fb" href="javascript:;"><i class="fa fa-facebook" aria-hidden="true"></i><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fsonbaymau.com%2Fdai-ly-son-jotun-tai-thanh-pho-ho-chi-minh-78-25.html&amp;layout=button&amp;size=small&amp;mobile_iframe=true&amp;width=58&amp;height=20&amp;appId" style="overflow:hidden;position: absolute;top: 0;left: 0;opacity: 0.001;width: 18px;height: 18px;"></iframe></a>

                                <a class="c-icon-img c-icon-border--zalo zalo-share-button" href="javascript:;" style="background-image: url('images/icons/zalo-b.png');" data-href="https://sonbaymau.com/dai-ly-son-jotun-tai-thanh-pho-ho-chi-minh-78-25.html" data-oaid="1113893375079518572" data-customize="true"><script src="https://sp.zalo.me/plugins/sdk.js" defer=""></script></a>

                            </li>
                            <li class="date"><span class="fa fa-calendar">@Model.blog.ModifiedDate</span></li>
                        </ul>
                        @Html.Raw(Model.blog.Details1+Model.blog.Details2+Model.blog.Details3+Model.blog.Details4+Model.blog.Details5+Model.blog.Details6+Model.blog.Details7+Model.blog.Details8)
                    <div class="p_other">
                        <div class="c-headline-1 h2">
                            <h2 class="c_name"><i class="fa fa-plus-circle" aria-hidden="true"></i><span>Các bài viết khác</span></h2>
                        </div>
                        <ul>
                                                    <li><a href="/ho-tro-mo-dai-ly-son--sieu-thi-son-77-25.html">Hỗ trợ mở đại lý sơn, siêu thị sơn</a></li>
                                                    <li><a href="/chuong-trinh-son-jotun-xuan-khoi-sac-76-25.html">Chương trình "Sơn Jotun - Xuân Khởi Sắc" </a></li>
                                                    <li><a href="/son-dulux-5-in-1-co-gi-dac-biet-55-25.html">Sơn Dulux 5 in 1 có gì đặc biệt?</a></li>
                                                    <li><a href="/son-dulux-cao-cap-ngoai-nha-54-25.html">Sơn Dulux cao cấp ngoài nhà</a></li>
                                                    <li><a href="/mua-son-dulux-chinh-hang-o-dau-53-25.html">Mua sơn Dulux chính hãng ở đâu?</a></li>
                                                    <li><a href="/nen-dung-son-ngoai-that-cua-hang-nao-52-25.html">Nên dùng sơn ngoại thất của hãng nào?</a></li>
                                                    <li><a href="/cach-chon-mau-son-nha-hop-voi-nguoi-menh-tho-51-25.html">Cách chọn màu sơn nhà hợp với người mệnh Thổ</a></li>
                                                    <li><a href="/1-bao-bot-tret-tuong-duoc-bao-nhieu-m2-50-25.html">1 bao bột trét tường được bao nhiêu m2</a></li>
                                                    <li><a href="/mua-son-chinh-hang-o-dau-49-25.html">Mua sơn chính hãng ở đâu</a></li>
                                                    <li><a href="/so-sanh-son-dulux-va-nippon-48-25.html">So sánh sơn Dulux và Nippon</a></li>
                                                </ul>
                    </div>
            </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var scrWidth = $(window).width();
            if (scrWidth > 991) {
                $('.s-sidebar-1 .s_heading i').removeClass('is-active');
                $('.s-sidebar-1 .s_heading i').parent().siblings().css('visibility', 'hidden');
            }
            $('.s-sidebar-1 .s_heading i').click(function (e) {
                if (scrWidth > 991) {
                    $('.s-sidebar-1 .s_heading i').removeClass('is-active');
                }
            });
        });
        function booking(url, product_meta) {
            $.ajax({
                url: url,
                type: 'POST',
                data: $.parseJSON(product_meta),
            })
                .done(function (data) { window.location.href = url; });
        }


    </script>
