<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b812e68c-bfcd-4155-b731-17fd75088b41/resourcegroups/DefaultResourceGroup-EA/providers/Microsoft.Web/sites/SonQuangHuy20221015175029</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sonquanghuy20221015175029.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>57d30c5d-dce0-4a11-97c9-fbf4b664d556</ProjectGuid>
    <PublishUrl>https://sonquanghuy20221015175029.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SonQuangHuy20221015175029</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>