<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SonQuangHuy</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/SonQuangHuy.styles.css" asp-append-version="true" /> *@


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1 , maximum-scale=1, user-scalable=no, viewport-fit=cover">
    <title>Phân Phối Sơn Nước Chính Hãng - Sơn Bảy Màu</title>
    <meta name="description"
        content="Sơn Bảy Màu - Nhà phân phối sơn nước chính hãng trên toàn quốc, dịch vụ giao hàng nhanh, tư vấn tận tình. Liên hệ ngay số hotline để nhận được chương trình khuyến mãi tốt nhất về sơn nước">
    <meta name="keywords" content="Sơn nước">
    <meta name="web_author" content="HitechGroup.vn">
    <meta itemprop="name" content="Phân Phối Sơn Nước Chính Hãng - Sơn Bảy Màu">
    <meta itemprop="image" content="https://#uploads/images//">
    <meta itemprop="description"
        content="Sơn Bảy Màu - Nhà phân phối sơn nước chính hãng trên toàn quốc, dịch vụ giao hàng nhanh, tư vấn tận tình. Liên hệ ngay số hotline để nhận được chương trình khuyến mãi tốt nhất về sơn nước">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://#">
    <meta property="og:image" content="https://#uploads/images//">
    <meta property="og:title" content="Phân Phối Sơn Nước Chính Hãng - Sơn Bảy Màu">
    <meta property="og:description"
        content="Sơn Bảy Màu - Nhà phân phối sơn nước chính hãng trên toàn quốc, dịch vụ giao hàng nhanh, tư vấn tận tình. Liên hệ ngay số hotline để nhận được chương trình khuyến mãi tốt nhất về sơn nước">
    <meta property="og:site_name" content="CÔNG TY TNHH SƠN BẢY MÀU VIỆT NAM SONBAYMAU.COM">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://#uploads/images//">
    <meta name="twitter:title" content="Phân Phối Sơn Nước Chính Hãng - Sơn Bảy Màu">
    <meta name="twitter:description"
        content="Sơn Bảy Màu - Nhà phân phối sơn nước chính hãng trên toàn quốc, dịch vụ giao hàng nhanh, tư vấn tận tình. Liên hệ ngay số hotline để nhận được chương trình khuyến mãi tốt nhất về sơn nước">
    <link href="/uploads/images/2021/01/16x16-1611555844-single_info36-autox301546417220singleinfo1faviconcopy.png"
        rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="s-header-10">
        <div class="s_top">
            <div class="container align-items--between">
                <a href="/" class="hd-logo"><img
                        src="./uploads/images/2021/01/1611555630-single_info36-logosonbaymaucopy.png"
                        alt="CÔNG TY TNHH SƠN BẢY MÀU VIỆT NAM SONBAYMAU.COM"></a>
                <div class="hd-search">
                    <div>Cung cấp sơn giá sỉ hàng đầu VN</div>
                    <i class="fa fa-search fa-transformation" aria-hidden="true" ht-trigger="hd-search"></i>
                    <form class="b-search-3" action="/ket-qua-tim-kiem-99.html" method="get" accept-charset="utf-8">
                        <div class="align-items">
                            <span>Tất cả</span>
                            <ul>
                                <li class="is-focus"><label><input type="radio" name="cate" value="1"><span>Tất
                                            cả</span></label></li>
                                <li><label><input type="radio" name="cate" value="8"><span>Sơn Dulux</span></label></li>
                                <li><label><input type="radio" name="cate" value="24"><span>Sơn Jotun</span></label>
                                </li>
                                <li><label><input type="radio" name="cate" value="35"><span>Sơn Maxilite </span></label>
                                </li>
                                <li><label><input type="radio" name="cate" value="49"><span>Sơn Expo</span></label></li>
                                <li><label><input type="radio" name="cate" value="3"><span>Sơn Nippon</span></label>
                                </li>
                                <li><label><input type="radio" name="cate" value="2"><span>Sơn Mykolor</span></label>
                                </li>
                                <li><label><input type="radio" name="cate" value="39"><span>Sơn Kova</span></label></li>
                                <li><label><input type="radio" name="cate" value="69"><span>Sơn Bạch
                                            Tuyết</span></label></li>
                                <li><label><input type="radio" name="cate" value="56"><span>Sơn Toa</span></label></li>
                            </ul>
                        </div>
                        <input type="text" name="keysearch" placeholder="Tìm kiếm ..." value="">
                        <a href="./timkiem.html" class="c-btn--secondary" style="padding:6px 7px"><i
                                class="fa fa-search" aria-hidden="true"></i></a>
                    </form>
                </div>
                <div class="hd-symbol align-items">
                    <div class="c-symbol-1">
                        <i class="fa giao-hang" aria-hidden="true"></i>
                        <div><span>GIAO HÀNG</span><span>GIAO HÀNG NHANH</span></div>
                    </div>
                    <div class="c-symbol-1">
                        <i class="fa thanh-toan" aria-hidden="true"></i>
                        <div><span>THANH TOÁN</span><span>THANH TOÁN KHI NHẬN HÀNG</span></div>
                    </div>
                </div>
                <i style="color: #999;font-size: 30px;" class="fa fa-volume-control-phone" aria-hidden="true"></i>
                <div class="ht-contact">
                    <span>0931778862 - 0971454654</span>
                </div>
            </div>
        </div>
        <div class="s_bot">
            <div class="container align-items">
                <div class="s-sidebar-1">
                    <div class="s_heading"><a href="san-pham-1-11.html">Tất cả sản phẩm</a><i
                            class="fa fa-angle-double-down fa-transformation" aria-hidden="true"></i></div>
                    <ul class="s_list">
                        <li class="classic">
                            <span class="icon"><i class="fa fa-angle-down"></i></span>
                            <a href="./chitiet.html">
                                <h2>Sơn Dulux</h2>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn Nội Thất Dulux</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn ngoại thất Dulux</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống thấm Dulux</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn lót Dulux </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Bột trét tường Dulux</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn dự án Dulux</h2>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="classic">
                            <span class="icon"><i class="fa fa-angle-down"></i></span>
                            <a href="./chitiet.html">
                                <h2>Sơn Jotun</h2>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn nội thất Jotun</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn ngoại thất Jotun</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống rỉ Jotun</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn lót Jotun</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chịu nhiệt Jotun</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn gỗ Jotun</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống hà Jotun</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Dung môi Jotun</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Bột trét tường Jotun</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn công nghiệp Jotun</h2>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="classic">
                            <span class="icon"><i class="fa fa-angle-down"></i></span>
                            <a href="./chitiet.html">
                                <h2>Sơn Maxilite </h2>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn nội thất Maxilite </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn ngoại thất Maxilite </h2>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="classic">
                            <span class="icon"><i class="fa fa-angle-down"></i></span>
                            <a href="./chitiet.html">
                                <h2>Sơn Expo</h2>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn nội thất Expo</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn ngoại thất Expo</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống rỉ Expo</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn lót Expo</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn dầu Expo</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Bột trét tường Expo</h2>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="classic">
                            <span class="icon"><i class="fa fa-angle-down"></i></span>
                            <a href="./chitiet.html">
                                <h2>Sơn Nippon</h2>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn nội thất Nippon</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn ngoại thất Nippon</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống thấm Nippon</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chịu nhiệt Nippon</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn lót Nippon</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn dầu Nippon</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Bột trét tường Nippon</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn công nghiệp Nippon</h2>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="classic">
                            <span class="icon"><i class="fa fa-angle-down"></i></span>
                            <a href="./chitiet.html">
                                <h2>Sơn Mykolor</h2>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn nội thất Mykolor</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn ngoại thất Mykolor </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống thấm Mykolor</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn lót Mykolor</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Bột trét tường Mykolor</h2>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="classic">
                            <span class="icon"><i class="fa fa-angle-down"></i></span>
                            <a href="./chitiet.html">
                                <h2>Sơn Kova</h2>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn nội thất Kova</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn ngoại thất Kova</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống thấm Kova</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống nóng Kova</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống rỉ Kova</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Bột trét tường Kova</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn lót Kova</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn dầu Kova</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn giả đá Kova</h2>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="classic">
                            <span class="icon"><i class="fa fa-angle-down"></i></span>
                            <a href="./chitiet.html">
                                <h2>Sơn Bạch Tuyết</h2>
                            </a>
                        </li>
                        <li class="classic">
                            <span class="icon"><i class="fa fa-angle-down"></i></span>
                            <a href="./chitiet.html">
                                <h2>Sơn Toa</h2>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn nội thất Toa</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn lót Toa</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn ngoại thất Toa</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn chống rỉ Toa</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Sơn dầu Toa</h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./chitiet.html">
                                            <h2>Bột trét tường Toa</h2>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="show-all"></li>
                    </ul>
                </div>
                <div class="hd-menu">
                    <a href="javascript:;" ht-trigger="hd-menu"><span>Menu</span><i class="fa fa-bars fa-transformation"
                            aria-hidden="true"></i></a>
                    <ul class="clearfix" ht-target="hd-menu">
                        <li><a href="./chitiet.html">Bảng giá</a></li>
                        <li><a asp-page="ColorTable">Bảng màu</a></li>
                        <li><a href="./chitiet.html">Thi công</a></li>
                        <li><a asp-page="News">Tin tức</a></li>
                        <li><a href="./chitiet.html">Tuyển dụng</a></li>
                        <li><a href="./chitiet.html">Giới Thiệu</a></li>
                        <li><a href="./chitiet.html">Liên hệ</a></li>
                    </ul>
                </div>
                <a href="./chitiet.html" class="hd-cart">
                    <span class="align-items"><i class="fa fa-cart-plus" aria-hidden="true"></i><span>Giỏ
                            hàng</span></span>
                    <span class="bage" ht-cart="bage">0</span>
                </a>
            </div>
        </div>
    </div>
    @RenderBody()
 

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
    <div class="s-footer-5">
        <div class="s_top">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-sm-12 col-md-4 col-lg-5 ft-info">
                        <div class="c-headline-4">
                            <div class="c_name"><i class="fa fa-address-card" aria-hidden="true"></i><span>
                                    <h5 class="display-inline text-bold text--primary">Liên hệ</h5>
                                </span></div>
                        </div>
                        <ul class="ft-menu">
                            <li class="line text-bold text-uppercase">
                                <h1>CÔNG TY TNHH SƠN BẢY MÀU VIỆT NAM SONBAYMAU.COM</h1>
                            </li>
                            <li class="line"><span class="fa fa-map-marker fa-abs-top">Toà nhà Bitexco,
                                    phường Bến Nghé, Quận 1, TPHCM</span></li>
                            <li class="line"><span class="fa fa-phone">0931778862</span><span
                                    class="fa fa-mobile">0971454654</span></li>
                            <li class="line"><span class="fa fa-envelope"><a
                                        href="mailto:baogiasonbaymau@gmail.com">baogiasonbaymau@gmail.com</a></span>
                            </li>
                            <li class="line"><span class="fa fa-globe"><a
                                        href="https://#">sonbaymau.com</a></span></li>
                        </ul>
                    </div>
                    <div class="col-12 col-xs-6 col-sm-5 col-md-3 col-lg-3 ft-info">
                        <div class="c-headline-4">
                            <div class="c_name"><i class="fa fa-sitemap" aria-hidden="true"></i><span>
                                    <h5 class="display-inline text-bold">Menu</h5>
                                </span></div>
                        </div>
                        <ul class="ft-menu">
                            <li><a href="">Trang chủ</a></li>
                            <li><a href="bang-gia-1-21.html">Bảng giá</a></li>
                            <li><a asp-page="ColorTable">Bảng màu</a></li>
                            <li><a href="thi-cong-3-21.html">Thi công</a></li>
                            <li><a asp-page="News">Tin tức</a></li>
                            <li><a href="tuyen-dung-5-22.html">Tuyển dụng</a></li>
                            <li><a href="gioi-thieu-1-31.html">Giới Thiệu</a></li>
                            <li><a href="lien-he-51.html">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 ft-info">
                        <div class="c-headline-4">
                            <div class="c_name"><i class="fa fa-info-circle" aria-hidden="true"></i><span>
                                    <h5 class="display-inline text-bold text--primary">Hỗ trợ</h5>
                                </span></div>
                        </div>
                        <ul class="ft-menu">
                            <li class="line"><a href="./chitiet.html"><span>Chính sách bảo hành</span></a>
                            </li>
                            <li class="line"><a href="./chitiet.html"><span>Hướng dẫn thanh toán</span></a>
                            </li>
                            <li class="line"><a href="./chitiet.html"><span>Hướng dẫn mua hàng</span></a>
                            </li>
                            <li class="line"><a href="./chitiet.html"><span>Bảo mật thông tin </span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                        <div class="ft-social">
                            <a href="" rel="nofollow" class="c-icon-bg--fb"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></a>
                            <a href="" rel="nofollow" class="c-icon-img c-icon-bg--zalo"
                                style="background-image: url('images/icons/zalo-w.png');"></a>
                        </div>
                        <a href="" rel="nofollow"><img src="images/bo-cong-thuong.png"
                                alt="bo-cong-thuong.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="s_bot">
            <div class="container align-items--between">
                <h6 class="ft-copyright text--white">&#169; 2019 SONBAYMAU.COM. All rights reserved</h6>
            </div>
        </div>
        <div class="s_backtop">
            <a href="tel:0971454654" class="ft-phone"><i class="fa fa-phone c-animate-loopflicker"
                    aria-hidden="true"></i><span class="text-hide">0971454654</span></a>
            <a href="javascript:;" class="c-icon-circle ft-backtop" ht-trigger="backtop"><i
                    class="fa fa-angle-up"></i></a>
        </div>
    </div>

</body>

</html>